/* 
* === COLOR PALETTE ===
* - Bahama Blue: #52769b -
* - Regal Blue: #48617a -
* - Hippie Blue: #5b85b2 -
* - Azure: #3a64a8 -
* - Silver: #c4c4c4 -
*/

/*
* === TABLET ===
*/

@media (max-width: 1024px) {
	#phone-img {
		display: none;
	}
}

/*
* === DESKTOP ===
*/

* {
	font-family: 'Montserrat', sans-serif;
}

/*
* - Background -
*/

#bg-tile {
	background: linear-gradient(#52769b,#48617a);
	height: 40vh;
	width: 100%;
}

#background-frame {
	height: 60vh;
	width: 100%;
}

/*
* - Container -
*/

.container {
	height: 34em;
	left: 1em;
	margin: 1em;
	padding: 5px;
	position: absolute;
	top: 5em;
	width: 94vw;
}

/*
* - Phone Container -
*/

#phone {	
	float: left;
	position: relative;
}

#phone-img {
	height: auto;
	left: 6em;	
	position: relative;
	top: -2em;
	width: 19em;
}

/*
* - Content Container -
*/

#box-frame {
	height: auto;
	position: absolute;
	right: 6em;
	top: 4em;
	width: 40em;
}

#content {
	width: 50em;
	float: right;
}

#box-content {
	position: absolute;
	top: 7em;
	right: 7em;
	width: 36em;
	padding: 5px;
}

/*
* - Login Button - 
*/

#login {
	background: linear-gradient(#5b85b2,#48617a);
	border: 1px solid #48617a;
	border-radius: 5px;
	box-shadow: 0 1px 1px;
	color: #d0d7e2;
	font-size: 20px;
	font-weight: 500;
	float: right;
	height: 3em;	top: -5px;
	padding: 1px 5px;
	position: absolute;
	right: 105px;
	top: -8px;
	width: 9em;
	z-index: 5;
}

#login-button {
	float: left;
	left: 14px;
	position: relative;
	top: 8px;
	width: 2em;
}

#logo {
	position: absolute;
	right: 26em;
	top: -1em;
	z-index: 5;
}

#title {
	color: #244375;
	font-size: 25px;
	font-weight: 500;
	position: relative;
	top: -30px;
	width: 11em;
}

.about {
	font-size: 18px;
	padding-right: 40px;
	position: relative;
	top: -30px;
}

#apple-badge, 
#android-badge {
	height: 4em;
	left: -14px;
	padding: 15px;
	position: relative;
	top: -2em;
	width: 13em;
}

/*
* - Footer -
*/

footer {
	height: 20px;
	padding: 2em;
	position: static;
	margin-bottom: -50px;
  text-align: center;
}

a {
	color: #3a64a8;
	font-size: 14px;
	font-weight: 500;
	padding: 8px;
	text-decoration: none;
}

span {
	color: #c4c4c4;
	font-size: 14px;
	font-weight: 500;
	padding: 14px;
}

ul {
	list-style: none;
}

li {
	left: -40px;
	padding: 10px 0px;
	position: relative;
	top: -10px;
}
